body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1164px;
  height:846px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15883 {
  position:absolute;
  left:188px;
  top:53px;
  width:1164px;
  height:846px;
}
#u15884 {
  position:absolute;
  left:2px;
  top:415px;
  width:1160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 245, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15885 {
  position:absolute;
  left:203px;
  top:66px;
  width:1118px;
  height:45px;
  color:#FFFFFF;
}
#u15886 {
  position:absolute;
  left:2px;
  top:14px;
  width:1114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:767px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u15887 {
  position:absolute;
  left:204px;
  top:111px;
  width:1117px;
  height:767px;
  font-size:14px;
}
#u15888 {
  position:absolute;
  left:2px;
  top:376px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15889 {
  position:absolute;
  left:219px;
  top:79px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15890 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15891 {
  position:absolute;
  left:232px;
  top:162px;
  width:1081px;
  height:65px;
}
#u15892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15892 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15893 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u15894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:30px;
}
#u15894 {
  position:absolute;
  left:122px;
  top:0px;
  width:416px;
  height:30px;
  text-align:left;
}
#u15895 {
  position:absolute;
  left:25px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u15896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u15896 {
  position:absolute;
  left:538px;
  top:0px;
  width:116px;
  height:30px;
}
#u15897 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u15898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u15898 {
  position:absolute;
  left:654px;
  top:0px;
  width:422px;
  height:30px;
  text-align:left;
}
#u15899 {
  position:absolute;
  left:25px;
  top:8px;
  width:395px;
  word-wrap:break-word;
}
#u15900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15900 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
}
#u15901 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u15902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:30px;
}
#u15902 {
  position:absolute;
  left:122px;
  top:30px;
  width:416px;
  height:30px;
  text-align:left;
}
#u15903 {
  position:absolute;
  left:25px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u15904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u15904 {
  position:absolute;
  left:538px;
  top:30px;
  width:116px;
  height:30px;
}
#u15905 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u15906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u15906 {
  position:absolute;
  left:654px;
  top:30px;
  width:422px;
  height:30px;
  text-align:left;
}
#u15907 {
  position:absolute;
  left:25px;
  top:8px;
  width:395px;
  word-wrap:break-word;
}
#u15908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15908 {
  position:absolute;
  left:232px;
  top:135px;
  width:1076px;
  height:28px;
}
#u15909 {
  position:absolute;
  left:2px;
  top:6px;
  width:1072px;
  word-wrap:break-word;
}
#u15910 {
  position:absolute;
  left:232px;
  top:263px;
  width:1081px;
  height:35px;
}
#u15911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15911 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u15912 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u15913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:30px;
}
#u15913 {
  position:absolute;
  left:122px;
  top:0px;
  width:416px;
  height:30px;
  text-align:left;
}
#u15914 {
  position:absolute;
  left:25px;
  top:8px;
  width:389px;
  word-wrap:break-word;
}
#u15915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u15915 {
  position:absolute;
  left:538px;
  top:0px;
  width:116px;
  height:30px;
}
#u15916 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u15917 {
  position:absolute;
  left:654px;
  top:0px;
  width:422px;
  height:30px;
  text-align:left;
}
#u15918 {
  position:absolute;
  left:25px;
  top:7px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15919 {
  position:absolute;
  left:232px;
  top:236px;
  width:1076px;
  height:28px;
}
#u15920 {
  position:absolute;
  left:2px;
  top:6px;
  width:1072px;
  word-wrap:break-word;
}
#u15921 {
  position:absolute;
  left:232px;
  top:347px;
  width:1081px;
  height:90px;
}
#u15922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
}
#u15922 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
}
#u15923 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u15924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:44px;
}
#u15924 {
  position:absolute;
  left:116px;
  top:0px;
  width:185px;
  height:44px;
}
#u15925 {
  position:absolute;
  left:25px;
  top:14px;
  width:158px;
  word-wrap:break-word;
}
#u15926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:44px;
}
#u15926 {
  position:absolute;
  left:301px;
  top:0px;
  width:238px;
  height:44px;
}
#u15927 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u15928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:44px;
}
#u15928 {
  position:absolute;
  left:539px;
  top:0px;
  width:290px;
  height:44px;
}
#u15929 {
  position:absolute;
  left:25px;
  top:14px;
  width:263px;
  word-wrap:break-word;
}
#u15930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:44px;
}
#u15930 {
  position:absolute;
  left:829px;
  top:0px;
  width:247px;
  height:44px;
}
#u15931 {
  position:absolute;
  left:25px;
  top:14px;
  width:220px;
  word-wrap:break-word;
}
#u15932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:41px;
}
#u15932 {
  position:absolute;
  left:0px;
  top:44px;
  width:116px;
  height:41px;
}
#u15933 {
  position:absolute;
  left:2px;
  top:13px;
  width:112px;
  word-wrap:break-word;
}
#u15934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:41px;
}
#u15934 {
  position:absolute;
  left:116px;
  top:44px;
  width:185px;
  height:41px;
}
#u15935 {
  position:absolute;
  left:25px;
  top:13px;
  width:158px;
  word-wrap:break-word;
}
#u15936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:41px;
}
#u15936 {
  position:absolute;
  left:301px;
  top:44px;
  width:238px;
  height:41px;
}
#u15937 {
  position:absolute;
  left:2px;
  top:13px;
  width:234px;
  word-wrap:break-word;
}
#u15938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:41px;
}
#u15938 {
  position:absolute;
  left:539px;
  top:44px;
  width:290px;
  height:41px;
}
#u15939 {
  position:absolute;
  left:2px;
  top:13px;
  width:286px;
  word-wrap:break-word;
}
#u15940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
}
#u15940 {
  position:absolute;
  left:829px;
  top:44px;
  width:247px;
  height:41px;
}
#u15941 {
  position:absolute;
  left:2px;
  top:13px;
  width:243px;
  word-wrap:break-word;
}
#u15942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15942 {
  position:absolute;
  left:232px;
  top:320px;
  width:1076px;
  height:28px;
}
#u15943 {
  position:absolute;
  left:2px;
  top:6px;
  width:1072px;
  word-wrap:break-word;
}
#u15944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u15944 {
  position:absolute;
  left:1px;
  top:0px;
  width:1351px;
  height:56px;
  color:#666666;
}
#u15945 {
  position:absolute;
  left:2px;
  top:20px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:731px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u15946 {
  position:absolute;
  left:1px;
  top:170px;
  width:187px;
  height:731px;
  color:#000000;
}
#u15947 {
  position:absolute;
  left:2px;
  top:358px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:169px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u15948 {
  position:absolute;
  left:1px;
  top:2px;
  width:187px;
  height:169px;
  font-size:16px;
  color:#666666;
}
#u15949 {
  position:absolute;
  left:2px;
  top:76px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15950 {
  position:absolute;
  left:57px;
  top:111px;
  width:75px;
  height:18px;
  color:#FFFFFF;
}
#u15951 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u15952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u15952 {
  position:absolute;
  left:57px;
  top:132px;
  width:73px;
  height:18px;
  color:#C9C9C9;
}
#u15953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u15954 {
  position:absolute;
  left:61px;
  top:36px;
  width:65px;
  height:65px;
}
#u15955 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15956 {
  position:absolute;
  left:1px;
  top:170px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15957 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15958 {
  position:absolute;
  left:1px;
  top:216px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15959 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15960 {
  position:absolute;
  left:1px;
  top:262px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15961 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15962 {
  position:absolute;
  left:0px;
  top:308px;
  width:187px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15963 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u15964 {
  position:absolute;
  left:1px;
  top:906px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15965 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15966 {
  position:absolute;
  left:1px;
  top:354px;
  width:192px;
  height:557px;
}
#u15967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15967 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15968 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15969 {
  position:absolute;
  left:0px;
  top:46px;
  width:187px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u15970 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15971 {
  position:absolute;
  left:0px;
  top:92px;
  width:187px;
  height:46px;
  color:#363636;
  text-align:left;
}
#u15972 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15973 {
  position:absolute;
  left:0px;
  top:138px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15974 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15975 {
  position:absolute;
  left:0px;
  top:184px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15976 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15977 {
  position:absolute;
  left:0px;
  top:230px;
  width:187px;
  height:46px;
  color:#434343;
  text-align:left;
}
#u15978 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15979 {
  position:absolute;
  left:0px;
  top:276px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15980 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15981 {
  position:absolute;
  left:0px;
  top:322px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15982 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15983 {
  position:absolute;
  left:0px;
  top:368px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15984 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15985 {
  position:absolute;
  left:0px;
  top:414px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15986 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15987 {
  position:absolute;
  left:0px;
  top:460px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15988 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
#u15989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:46px;
}
#u15989 {
  position:absolute;
  left:0px;
  top:506px;
  width:187px;
  height:46px;
  text-align:left;
}
#u15990 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  word-wrap:break-word;
}
